[Unit]
Description=Resets the Environment Overseer

[Service]
Type=oneshot
Environment="OVERSEER_PHRASE_OVERRIDE=1"
ExecStart=overseer -r

[Install]
WantedBy=multi-user.target
