[Unit]
Description=Environment Overseer Daemon
RefuseManualStop=true

[Service]
ExecStart=overseer --forbidreset
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target