[Unit]
Description=Overseer Tracker Guardian
RefuseManualStop=true

[Service]
ExecStart=/root/overseer-guardian.bash
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target